@inherits LayoutComponentBase

<div class="page">
    <header>
        <h1>Cansat Dashboard</h1>
        <div class="header-right">
            <div class="header-info">
                <span>Status</span>
                <p>CONNECTED</p>
            </div>
        </div>
    </header>
    <main>
        @Body
    </main>
</div>